<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function clearText() {
            var obj = document.getElementById('input');
            obj.value = '';
        }
        <!--方法实现全选或全取消功能-->
        function selectAll(obj) {
            console.log(obj.checked);
            if(obj.checked){
                var objs = document.getElementsByName('userCheck')
                for(var i in objs){
                    objs[i].checked=true;
                }
            }
            else{
                var objs = document.getElementsByName('userCheck')
                for(var i in objs){
                    objs[i].checked=false;
                }
            }
        }
        t = 10;
        window.onload = function () {
            id = window.setInterval(count, 10000);
        }
        <!--实现功能为：10秒后页面自动跳转至指定页面-->
        function count() {
            if (t == 0){
                window.location = 'http://127.0.0.1:8000/';
                window.clearInterval(id);
            }
            else{
                t--;
                var obj = document.getElementsByName('clock');

                obj[0].value = t;
            }
        }
        <!--实现了选中求和功能-->
        function computeAll(){
            var sum = 0;
            var moneys = document.getElementsByName('each_money');
            var chks = document.getElementsByName('check');

            for(var i in chks){
                if(chks[i].checked){
                    sum += parseInt(moneys[i].value);
                }
            }
            var count = document.getElementsByName('total');
            count[0].value = sum;
        }
    </script>
    <!--这里实现了将两行内容移到一行中-->
    <style>
        .fild, .fildcontent{
            display: inline;
        }
    </style>
</head>
<body>
<div>
    <h1>只是模板页</h1>
</div>
<div>
    <!--placeholder是一种实现方式，鼠标点击后提示文字不消失。onfocus方式鼠标点击事件发生后提示文字消失-->
    用户名<input type="text" placeholder="输入用户名">
    <!--密码<input type="password" placeholder="输入密码">-->
    <!--用户名<input type="text" value="输入用户名" onfocus="clearText()" id="input">-->
    密码<input type="password" placeholder="输入密码">
    <input type="submit">
    <br><br><br>
    <h3><input type="checkbox" name="checkbox2" id="checkbox" onclick="selectAll(this)"/>全选(这里实现了全选功能)</h3>
    <table border="1" cellpadding="0" cellspacing="1" bordercolor="#dadada">
        <tr align="center">
            <td width="50" height="25" valign="middle">选择</td>
            <td width="120" height="25" valign="middle">姓名</td>
            <td width="80" height="25" valign="middle">性别</td>
            <td width="150" height="25" valign="middle">证件类型</td>
            <td width="200" height="25" valign="middle">证件号码</td>
        </tr>

        <tr align="center">
            <td><input type="checkbox" name="userCheck" value="1"></td>
            <td width="100">用户1</td>
            <td width="80">男</td>
            <td width="150">二代身份证</td>
            <td width="200">110109198802114021</td>
        </tr>

        <tr align="center">
            <td><input type="checkbox" name="userCheck" value="1"></td>
            <td width="100">用户1</td>
            <td width="80">男</td>
            <td width="150">二代身份证</td>
            <td width="200">110109198802114021</td>
        </tr>

        <tr align="center">
            <td><input type="checkbox" name="userCheck" value="1"></td>
            <td width="100">用户1</td>
            <td width="80">男</td>
            <td width="150">二代身份证</td>
            <td width="200">110109198802114021</td>
        </tr>

        <tr align="center">
            <td><input type="checkbox" name="userCheck" value="1"></td>
            <td width="100">用户1</td>
            <td width="80">男</td>
            <td width="150">二代身份证</td>
            <td width="200">110109198802114021</td>
        </tr>

        <tr align="center">
            <td><input type="checkbox" name="userCheck" value="1"></td>
            <td width="100">用户1</td>
            <td width="80">男</td>
            <td width="150">二代身份证</td>
            <td width="200">110109198802114021</td>
        </tr>
    </table>
</div>
<br><br><br>
<h3>这是选中求和功能</h3>
<form name="form1" method="post" action="">
    <table border="1" width="400" cellpadding="0">
        <tr bgcolor="#999999">
            <td align="left" size="20">金额</td>
            <td align="center">是否求和</td>
        </tr>
        <tr>
            <td align="left"><input type="text" name="each_money" size="20"></td>
            <td align="center"><input type="checkbox" name="check"></td>
        </tr>
        <tr>
            <td align="left"><input type="text" name="each_money" size="20"></td>
            <td align="center"><input type="checkbox" name="check"></td>
        </tr>
        <tr>
            <td align="left"><input type="text" name="each_money" size="20"></td>
            <td align="center"><input type="checkbox" name="check"></td>
        </tr>
        <tr>
            <td align="left"><input type="text" name="total" size="20" readonly/>金额合计</td>
            <td align="center"><input type="button" onclick="computeAll()" value="求和"></td>
        </tr>
    </table>
</form>
<br><br><br>
<h3>这里实现了将两行内容移到一行中的布局</h3>
<div class="fild">出生年月：</div>
<div class="fildcontent">年/月/日</div>
<div class="peopleinfo">修改</div>
<br><br><br>
<form name="form1">
    <h3>不用说，这里就是：<input type="text" name="clock" size="2" value="10">秒后自动跳转网页功能</h3>

</form>

</body>
</html>